@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.stars {
    background-color:  black;
    background-image: url(../img/stars.svg);
    height: 100vh;
    width: 100%;
    animation: scale-stars 2s ease-in-out infinite alternate;
}

@keyframes scale-stars {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.05,1.05);
    }
}
    
.asteroid {
    position: absolute;
    animation: rotate-asteroid 6s linear infinite;
    top: 200px;
    left: 200px;
}
    
@keyframes rotate-asteroid {
 
    0% {
        transform: rotate(0deg):
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.ship {
    position: absolute;
    top: 650px;
    left: 50%;
    animation: ship-bounce 2s ease-in-out infinite alternate;
}

@keyframes ship-bounce {
    
    0% {
        transform: translateY(0px);
    }
    
    20% {
        transform: translateY(20px);
    }
    
    40% {
        transform: translateX(80px);
    }
    
    50% {
        transform: translateY(90px);
    }
    
    70% {
        transform: translateX(27px);
    
    80% {
        transform: translateX(20px);
    }
    
    100% {
        transform: translateY(30px);
    }
}